@model DOAN.Models.Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/csschitietsp.css" rel="stylesheet" />
<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href=""><span>Menu </span></a></li>
                <li><a href=""><span>/ Cà Phê </span></a></li>
                <li><a href=""><span>/ Cà Phê Sữa Đá </span></a></li>
            </ul>
        </div>
    </div>

</div>

<div id="main-content">
    <div class="container flex">
        <div class="main-img">
            <div class="productCarousel">
                <img src="@Url.Content(Model.HINHSP)" width="570px" max-height="570px" />
            </div>
            <div>
                <img src="@Url.Content(Model.HINHSP)" width="77px" max-height="77px" />
            </div>
        </div>

        <div class="main-info">
            <div class="info-product">
                <p class="info-product-title">@Html.DisplayFor(model => Model.TENSP)</p>
                <div class="info-product-price">
                    <span class="price">@Html.DisplayFor(model => Model.GIa)</span>
                </div>
            </div>

            <div class="option-size">
                <p class="option-title">Chọn size (bắt buộc )</p>
                <div class="product-option">
                    <div class="opt-size">
                        <div class="product__info__item__list__item icons_0">
                            <div>Nhỏ + 0 đ</div>
                        </div>
                        <div class="product__info__item__list__item icons_0">
                            <div>Vừa + 10.000 đ</div>
                        </div>
                        <div class="product__info__item__list__item icons_0">
                            <div>Lớn + 16.000 đ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="option-topping">
                <p class="option-title">Topping</p>
                <div class="product-option">
                    <label class="option-item">
                        <div class="option-inner">
                            <div class="name">Kem Phô Mai Macchiatio + 10.000 đ</div>
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="option-inner">
                            <div class="name">Shot Espresso + 10.000 đ</div>
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="option-inner">
                            <div class="name">Trân Châu Trắng + 10.000 đ</div>
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="option-inner">
                            <div class="name">Sốt Caramel + 10.000 đ</div>
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="option-inner">
                            <div class="name">Thạch Cà Phê + 10.000 đ</div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="product-to-cart">
                <ul class="order-method">
                    <li class="x1"><a href="/GioHang/AddToCart/@Model.MASP" class="btn btn-default"><span style="margin-left: 11px">Đặt giao tận nơi</span></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="product-info">
    <div class="container">
        <div class="container-info">
            <hr />
            <div>
                <h4 class="product-title">Mô tả sản phẩm</h4>
                <p>@Html.DisplayFor(model => Model.MOTA)</p>
            </div>
            <hr />
            <div class="product-related">
                <h4>Các sản phẩm liên quan</h4>
                <div class="list_product_related">
                    @{ Html.RenderAction("Recomment", "Product");}

                </div>
            </div>
        </div>
    </div>


